.countryListWrapper {
	list-style-type: none;
	padding: 0;
	max-width: 100%;

	@media (prefers-reduced-motion: no-preference) {
		transition: all 0.3s ease-in-out;
	}
}
.countryListHeader {
	margin: unset;
	color: var(--white);
}

.countryListGradient {
	position: absolute;
	pointer-events: none;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	height: 100px;
	width: calc(100% - 60px);
	background: rgb(26, 27, 30);
	background: linear-gradient(
		0deg,
		rgba(26, 27, 30, 1) 0%,
		rgba(0, 212, 255, 0) 100%
	);
}
.countryListItem {
	max-width: 100%;
}

.countryListItemLink {
	display: flex;
	column-gap: 15px;
	margin-bottom: 6px;
	text-decoration: unset;
	color: var(--white);
	word-wrap: break-word;
	max-width: 100%;

	&:hover,
	&:focus,
	&:active {
		color: var(--gray);
	}
	&:focus {
		text-decoration: underline;
	}
	@media (prefers-reduced-motion: no-preference) {
		transition: all 0.3s ease-in-out;
	}
}

.expansionButton {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 18px;
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 8px;
	}
}

.expansionButtonWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
