.headerSpacer {
	display: block;
	visibility: hidden;
	margin: unset;
}
.mainWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 75vh;
}

.content {
	max-width: 75%;
	flex: 1 1 75%;
	padding: 30px 30px 30px 0;
}

.aside {
	max-width: 25%;
	flex: 1 1 25%;
	padding: 30px 0 30px 30px;
}
