.asideContainer {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		height: calc(100% - 100px);
		background-color: var(--white);
	}
}
