.heading {
	font-weight: 400;
	font-size: large;
	margin-bottom: 48px;
}

.headingSubsidiary {
	font-weight: 700;
	font-size: xx-large;
	display: block;
	color: var(--white);
}

.headingAmount {
	font-size: large;
	color: var(--text-gray);
	font-weight: 400;
}
